In [1]:
import random

import pandas as pd
import datetime as datetime

In [2]:
movies_df = pd.read_csv('../input/movies.csv', dtype=str)
movies_df

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
58093,193876,The Great Glinka (1946),(no genres listed)
58094,193878,Les tribulations d'une caissière (2011),Comedy
58095,193880,Her Name Was Mumu (2016),Drama
58096,193882,Flora (2017),Adventure|Drama|Horror|Sci-Fi
58097,193886,Leal (2018),Action|Crime|Drama

In [3]:
def add_spaces(genres):
  movie_list = f" {genres} "
  return movie_list

def randomly_case(genres):
  genres_list = genres.split('|')
  idx = 1
  all_genres_modified = []
  for genre in genres_list:
    if idx % 3 == 0:
      genre = genre.upper()
      all_genres_modified.append(genre)
    elif idx % 2 == 0:
      genre = genre.lower()
      all_genres_modified.append(genre)
    else:
      all_genres_modified.append(genre)
    idx = idx + 1
  return '|'.join(all_genres_modified)

In [4]:
movies_df_with_bad_genres = movies_df
movies_df_with_bad_genres['genres'] = movies_df_with_bad_genres['genres'].apply(lambda x: randomly_case(x))
movies_df_with_bad_genres['genres'] = movies_df_with_bad_genres['genres'].apply(lambda x: add_spaces(x))

In [5]:
movies_df_with_bad_genres

,movieId,title,genres
0,1,Toy Story (1995),Adventure|animation|CHILDREN|comedy|Fantasy
1,2,Jumanji (1995),Adventure|children|FANTASY
2,3,Grumpier Old Men (1995),Comedy|romance
3,4,Waiting to Exhale (1995),Comedy|drama|ROMANCE
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
58093,193876,The Great Glinka (1946),(no genres listed)
58094,193878,Les tribulations d'une caissière (2011),Comedy
58095,193880,Her Name Was Mumu (2016),Drama
58096,193882,Flora (2017),Adventure|drama|HORROR|sci-fi
58097,193886,Leal (2018),Action|crime|DRAMA

In [6]:
movies_df_with_bad_genres.to_csv('../input/all_movies.csv',index=False)

In [7]:
movies_df['movie_list'] = movies_df['genres'].apply(lambda x: x.split('|'))

In [8]:
def add_spaces_to_singles(movie_list):
  if len(movie_list) == 1:
    movie_list = [f" {movie_list[0]} "]
  return movie_list

In [9]:
movies_df_with_bad_genres = movies_df
movies_df_with_bad_genres['movie_list'] = movies_df_with_bad_genres['movie_list'].apply(lambda x: add_spaces_to_singles(x))

SyntaxError: invalid syntax (460651414.py, line 2)

In [ ]:
movies_df_with_bad_genres['movie_list'] = movies_df_with_bad_genres['movie_list'].apply(lambda x: y.join('|') for y in x)

In [ ]:
movies_df_with_bad_genres.to_csv('../input/all_movies.csv')

In [ ]:
movies_df_with_bad_genres = movies_df_with_bad_genres.explode('movie_list')

In [ ]:
movies_df_with_bad_genres['movie_list'] = movies_df_with_bad_genres['movie_list'].apply(lambda x: str(x))

In [ ]:
movies_df_with_bad_genres.groupby(['movie_list']).agg({'title': lambda x : x.to_list()}).reset_index()

In [ ]:
movies_df_with_bad_genres.to_csv('../input/all_movies.csv')

In [ ]:
ratings_df = pd.read_csv('../input/ratings.csv', dtype=str)

In [ ]:
ratings_df

In [ ]:
ratings_df_with_dups = ratings_df

In [ ]:
#Randomly select 50k columns and dup them
for i in range(0, 10):
  random_index = random.randint(0, len(ratings_df.index))
  print(random_index)
  row = ratings_df.iloc[random_index]
  ratings_df_with_dups.loc[len(ratings_df_with_dups.index)] = row
  ratings_df_with_dups.loc[len(ratings_df_with_dups.index)] = row
  ratings_df_with_dups.loc[len(ratings_df_with_dups.index)] = row
  ratings_df_with_dups.loc[len(ratings_df_with_dups.index)] = row
  ratings_df_with_dups.loc[len(ratings_df_with_dups.index)] = row
  ratings_df_with_dups.loc[len(ratings_df_with_dups.index)] = row
  ratings_df_with_dups.loc[len(ratings_df_with_dups.index)] = row
  ratings_df_with_dups.loc[len(ratings_df_with_dups.index)] = row
  ratings_df_with_dups.loc[len(ratings_df_with_dups.index)] = row
  ratings_df_with_dups.loc[len(ratings_df_with_dups.index)] = row
  ratings_df_with_dups.loc[len(ratings_df_with_dups.index)] = row
  ratings_df_with_dups.loc[len(ratings_df_with_dups.index)] = row
  ratings_df_with_dups.loc[len(ratings_df_with_dups.index)] = row
  ratings_df_with_dups.loc[len(ratings_df_with_dups.index)] = row
  ratings_df_with_dups.loc[len(ratings_df_with_dups.index)] = row
  ratings_df_with_dups.loc[len(ratings_df_with_dups.index)] = row
  ratings_df_with_dups.loc[len(ratings_df_with_dups.index)] = row

In [ ]:
len(ratings_df_with_dups.index) - len(ratings_df_with_dups.drop_duplicates().index)

In [ ]:
ratings_df_dup_counts = ratings_df_with_dups.groupby(ratings_df_with_dups.columns.tolist()).size().reset_index().\
    rename(columns={0:'records'})

In [ ]:
ratings_df_dup_counts.query("records > 1")

In [ ]:
import numpy as np


def get_some_sources():
  sources = ['rotten tomatoes', 'imdb', 'google', 'movieratings.com', np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, '', '', '']
  return random.choice(sources)

In [ ]:
ratings_df_with_dups['source'] = ratings_df_with_dups.apply(lambda x: get_some_sources(), axis=1)

In [ ]:
ratings_df_with_dups.sample(20)

In [ ]:
ratings_df_with_dups.to_csv('../input/all_ratings.csv', index=False)

# Simple Column Conversion
Two ways to do this:
1. Independently defined function
2. Lambda function

In [ ]:
ratings_df[ratings_df['timestamp'].isna()]

In [ ]:
ratings_df = ratings_df.dropna(subset=['timestamp'])

In [ ]:
def convert_from_timestamp_to_datetime(timestamp: int):
  return datetime.datetime.utcfromtimestamp(timestamp)

In [ ]:
ratings_df_with_date_from_function = ratings_df
ratings_df_with_date_from_function['date_rated'] = ratings_df_with_date_from_function['timestamp'].apply(convert_from_timestamp_to_datetime)

In [ ]:
ratings_df_with_date_from_function

In [ ]:
ratings_df_with_date_from_lambda = ratings_df
ratings_df_with_date_from_lambda['date_rated'] = ratings_df_with_date_from_lambda['timestamp'].apply(lambda x: datetime.datetime.utcfromtimestamp(x))

In [ ]:
ratings_df_with_date_from_lambda

# Now we can look at string manipulation, exploding a column, and regrouping
Goal: Let's get lists of movies for each genre and count how many movies there are of each genre

In [ ]:
movies_df['genres_list'] = movies_df['genres'].apply(lambda x: x.split('|'))

Sampling the Data Frame versus just viewing the default rows returned
- sampling allows you to see more of the data
- this lets you eye ball for anything wierd that may not exist in the first and last ten rows

In [ ]:
movies_df.sample(20)

Now you can... 
1. Join the ratings to the movies in order to get ratings for all movies
  - Ensure that you did have ratings that didn't have associated movies
  - Make sure you join the right direction
2. Convert the timestamp to somehting readable
  - Check for invalid timestamps?
3. Add a column on the joined df that has the average rating for a given movie
4. Find the average rating for a movie of a specific genere