In [3]:
import pandas as pd
from typing import List

from analysis.utils.cleaning import lower_case_and_strip_spaces

### Reading the Data and Initial Stats

In [3]:
movies_df: pd.DataFrame = pd.read_csv('input/all_movies.csv')
movies_df.sample(20)

,movieId,title,genres
12243,55782,Citizen Dog (Mah nakorn) (2004),Comedy|fantasy|ROMANCE
3886,3979,Little Nicky (2000),Comedy
27694,123221,Knight Without Armor (1937),Adventure|drama|ROMANCE|thriller
48664,172515,Hooked on the Game 2. The Next Level (2010),Action|sci-fi
53796,183775,Friend of the Family (1995),Action|drama|THRILLER
34123,139283,The Hanged Man (2007),Mystery|thriller
11682,51203,Lady in Cement (1968),Crime|drama|MYSTERY|thriller
44107,162638,Time Renegades (2016),Romance|thriller
31686,133463,Forgotten Pistolero (1969),Western
13004,61449,"Burning Plain, The (2008)",Drama|romance
46875,168716,A Gathering of Cats (2007),(no genres listed)
41341,156350,Give Us Wings (1940),Adventure|comedy
2373,2457,Running Scared (1986),Action|comedy
57130,191371,Tales From The Far Side (1994),Animation
25111,115963,The Stoker (2010),Crime|drama
44126,162676,Operation Chromite (2016),Action|drama|WAR
2478,2562,Bandits (1997),Drama
13458,66140,Blackout (2007),Horror|thriller
5868,5966,"Kiss Before Dying, A (1956)",Film-Noir|mystery
53870,183939,La española inglesa (2015),Drama

In [4]:
movies_df

,movieId,title,genres
0,1,Toy Story (1995),Adventure|animation|CHILDREN|comedy|Fantasy
1,2,Jumanji (1995),Adventure|children|FANTASY
2,3,Grumpier Old Men (1995),Comedy|romance
3,4,Waiting to Exhale (1995),Comedy|drama|ROMANCE
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
58093,193876,The Great Glinka (1946),(no genres listed)
58094,193878,Les tribulations d'une caissière (2011),Comedy
58095,193880,Her Name Was Mumu (2016),Drama
58096,193882,Flora (2017),Adventure|drama|HORROR|sci-fi
58097,193886,Leal (2018),Action|crime|DRAMA

## Step 0: Initial Analysis

In [5]:
movies_df.shape

(58098, 3)

In [6]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58098 entries, 0 to 58097
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  58098 non-null  int64
 1   title    58098 non-null  object
 2   genres   58098 non-null  object
dtypes: int64(1), object(2)
memory usage: 1.3+ MB

## Step 1: Cleaning
You shouldn't necessarily assume that your data is good.  It could be very sparse and not have much there. There could be duplication, poorly recorded or empty values, or with large text there could be a lot of garbage in there if it was an open text field

In [7]:
movies_cleaned_df = movies_df.copy()
movies_cleaned_df['genres'] = movies_cleaned_df['genres'].apply(lower_case_and_strip_spaces)

In [8]:
movies_cleaned_df.sample(20)

,movieId,title,genres
19718,96911,"Royal Affair, A (Kongelig affære, En) (2012)",drama|romance
49508,174281,An Awful Symphony (1909),comedy|fantasy
736,749,"Man from Down Under, The (1943)",drama
32012,134192,White Pop Jesus (1980),(no genres listed)
17761,88746,Terri (2011),comedy
39822,152830,Khushi (2003),action|drama|romance
2821,2906,Random Hearts (1999),drama|romance
50096,175623,Drone Wars (2016),action|sci-fi|thriller
7363,7560,Fail-Safe (1964),drama|thriller|war
43617,161568,Laddie (1940),drama
17396,87276,"Last Dispatch, The (2005)",documentary
38425,149424,Sweet Lies (Korean) (2008),comedy|romance
5597,5695,To the Devil a Daughter (1976),fantasy|horror|mystery
39089,151084,Flesh and Fantasy (1943),drama|fantasy|romance
15219,77291,Aria (1987),comedy|drama
29651,128536,Üvegtigris (2001),comedy
10085,33226,Zatoichi Meets the One-Armed Swordsman (Shin z...,action|adventure|drama
29032,126416,Stalag Luft (1993),comedy|drama|war
5098,5194,Who's Singin' Over There? (a.k.a. Who Sings Ov...,comedy
57231,191697,Lottery,(no genres listed)

In [9]:
movies_cleaned_df = movies_cleaned_df.loc[movies_cleaned_df['genres'] != '(no genres listed)']

In [10]:
movies_cleaned_df.shape

(53832, 3)

### Checking for Duplicates
We need to define what a duplicate is.

Get a series with True or False that indicates if the title was duplicated or not.

In [11]:
movies_cleaned_df.head(5)

,movieId,title,genres
0,1,Toy Story (1995),adventure|animation|children|comedy|fantasy
1,2,Jumanji (1995),adventure|children|fantasy
2,3,Grumpier Old Men (1995),comedy|romance
3,4,Waiting to Exhale (1995),comedy|drama|romance
4,5,Father of the Bride Part II (1995),comedy

In [12]:
duplicated_by_title = movies_cleaned_df.duplicated(['title'])

In [13]:
movies_cleaned_df.loc[duplicated_by_title]

,movieId,title,genres
9142,26958,Emma (1996),romance
9157,26982,Men with Guns (1997),drama
13309,64997,War of the Worlds (2005),action|sci-fi
13395,65665,Hamlet (2000),drama
13614,67459,Chaos (2005),crime|drama|horror
...,...,...,...
56950,190881,The Boss (2016),documentary
57238,191713,Noise (2007),crime|drama|thriller
57269,191775,Berlin Calling (2008),comedy|drama
57361,192003,Journey to the Center of the Earth (2008),action|adventure|fantasy|sci-fi
57953,193559,Cargo (2017),drama

Locate all records where the title was duplicated.

In [14]:
movies_duplicated_by_title_df = movies_cleaned_df.loc[duplicated_by_title]

Get a series with True of False that indicates if the title and genre were both duplciated.

In [15]:
duplicated_by_title_and_genre = movies_cleaned_df.duplicated(['title', 'genres'])

Locate all records where the title and genre were duplicated

In [16]:
movies_duplicated_by_title_and_genre_df = movies_cleaned_df.loc[duplicated_by_title_and_genre]
movies_duplicated_by_title_and_genre_df.shape

(14, 3)

We'll need a list of titles from each category

In [17]:
records_duplicated_by_title = set(movies_duplicated_by_title_df['title'])
len(records_duplicated_by_title)

66

In [18]:
records_duplicated_by_title_and_genre = set(movies_duplicated_by_title_and_genre_df['title'])
len(records_duplicated_by_title_and_genre)

14

We have two lists of movies:
1. All the records where the title was duplicated - in this list some records represented have duplicated titles and duplicated genre strings and some records that have duplicated titles different genre string.
2. All the records where the title and genre was duplicated - in this list all records that have duplicated titles and duplicated genre strings.

With these two lists how can we get a list that is ONLY the titles where the title was duplicated but the genre was not?

In [19]:
duplicated_by_title_only = records_duplicated_by_title.difference(records_duplicated_by_title_and_genre)
duplicated_by_title_only

{'20,000 Leagues Under the Sea (1997)',
 'Absolution (2015)',
 'Aftermath (2012)',
 'Aladdin (1992)',
 'Blackout (2007)',
 'Cargo (2017)',
 'Casanova (2005)',
 'Chaos (2005)',
 'Classmates (2016)',
 'Clockstoppers (2002)',
 'Confessions of a Dangerous Mind (2002)',
 'Delirium (2014)',
 'Deranged (2012)',
 'Ecstasy (2011)',
 'Eden (2014)',
 'Emma (1996)',
 'Eros (2004)',
 'Forsaken (2016)',
 'Free Fall (2014)',
 'Frozen (2010)',
 'Good People (2014)',
 'Gossip (2000)',
 'Grace (2014)',
 'Hamlet (2000)',
 'Holiday (2014)',
 'Hostage (2005)',
 'Interrogation (2016)',
 'Journey to the Center of the Earth (2008)',
 'Lagaan: Once Upon a Time in India (2001)',
 'Men with Guns (1997)',
 'Noise (2007)',
 'Office (2015)',
 'Paradise (2013)',
 'Rose (2011)',
 'Saturn 3 (1980)',
 'Shelter (2015)',
 'Sing (2016)',
 'Slow Burn (2000)',
 'Stranded (2015)',
 'Tag (2015)',
 'The Boss (2016)',
 'The Break-In (2016)',
 'The Connection (2014)',
 'The Dream Team (2012)',
 'The Midnight Man (2016)',
 'The Promise (2016)',
 'The Reunion (2011)',
 'The Void (2016)',
 'Truth (2015)',
 'Veronica (2017)',
 'War of the Worlds (2005)',
 'Weekend (2011)'}

Now we can locate an example using the titles in our list.

In [20]:
ALADDIN = 'Aladdin (1992)'

In [21]:
def get_aladdin_example(df: pd.DataFrame) -> pd.DataFrame:
   return df.loc[df['title'] == ALADDIN]

In [22]:
movies_cleaned_df.loc[movies_cleaned_df['title'] == ALADDIN]

       movieId           title                                       genres
582        588  Aladdin (1992)  adventure|animation|children|comedy|musical
24657   114240  Aladdin (1992)  adventure|animation|children|comedy|fantasy

## Step 2: Feature Preparation

What is a feature?

A descriptive attribute that can be used in our algorithms.

Examples:
    - If we are trying to predict house prices, square footage could be a feature we use to predict the house price
    - In our case, as we try to find movies similar to our movie the "feature" we will be focusing on is the "genres" description
    - We need to "prepare" the columns data in such a way that we can compare one genre description to another and get some measure of similarity

We can focus on the genres to recommend movies.  Let's prepare our genres list. First we need to group by title.

In [23]:
movies_grouped_by_title_df = movies_cleaned_df.copy()
movies_grouped_by_title_df = movies_grouped_by_title_df.groupby('title').agg({'genres': lambda x: x.to_list()}).reset_index()

In [24]:
movies_grouped_by_title_df

                                        title                           genres
0            "Great Performances" Cats (1998)                        [musical]
1                  #1 Cheerleader Camp (2010)                   [comedy|drama]
2                            #Captured (2017)                         [horror]
3                              #Horror (2015)  [drama|horror|mystery|thriller]
4                           #SCREAMERS (2016)                         [horror]
...                                       ...                              ...
53761                          ארבינקא (1967)           [comedy|crime|romance]
53762  …And the Fifth Horseman Is Fear (1965)                      [drama|war]
53763                             キサラギ (2007)                 [comedy|mystery]
53764                          チェブラーシカ (2010)             [animation|children]
53765                             貞子3D (2012)                         [horror]

[53766 rows x 2 columns]

In [25]:
get_aladdin_example(movies_grouped_by_title_df)

               title                                             genres
2023  Aladdin (1992)  [adventure|animation|children|comedy|musical, ...

Clean up the genres lists.

In [26]:
from analysis.utils.cleaning import combine_genres_list

movies_unique_genres_df = movies_grouped_by_title_df.copy()
movies_unique_genres_df['genres'] = movies_unique_genres_df['genres'].apply(combine_genres_list)

In [27]:
movies_unique_genres_df.sample(20)

,title,genres
32409,Only Old Men Are Going to Battle (V boy idut o...,"{war, drama, comedy}"
43675,The Conquest of the Pole (1912),"{sci-fi, adventure, comedy}"
47134,The Squeeze (1978),"{drama, crime, comedy}"
45743,The Man They Could Not Hang (1939),"{sci-fi, horror, crime}"
42548,Terms of Endearment (1983),"{drama, comedy}"
13551,Drool (2009),"{drama, comedy}"
30465,Myriad of Lights (Lights of Ten Thousand Homes...,{drama}
53676,¡Vivan las Antipodas! (2011),{documentary}
46738,The Roman Spring of Mrs. Stone (2003),{drama}
40573,Standing Ovation (2010),"{children, comedy}"
34840,Programming The Nation? (2011),{documentary}
45720,The Major (2013),"{action, drama, crime}"
27609,Making the Grade (1984),{comedy}
27487,Magician Mickey (1937),{animation}
41386,Suicide Club (Jisatsu saakuru) (2001),"{mystery, horror, thriller}"
25929,Life or Something Like It (2002),"{romance, comedy}"
9239,Chromophobia (2005),{drama}
18847,Guru Sishyan (1988),"{action, comedy}"
53068,XIII: The Conspiracy (2008),"{thriller, mystery, action, crime}"
1404,"Abbott and Costello Meet the Killer, Boris Kar...","{thriller, mystery, comedy}"

In [29]:
get_aladdin_example(movies_unique_genres_df)

               title                                             genres
2023  Aladdin (1992)  {animation, musical, adventure, fantasy, comed...

Let's think about our recommendation engine now again.  Let's say that we want to recommend movies to by recommending the movies with the most similar genres list.

In order to to use TF IDF we need a list of all the "words" (genres) used in our corpus.  This is easy for us to do.  We can make a list of all the genres by:
1. Creating a column with a list of genres
2. Grouping by the genre
3. Aggregating the results
4. Transforming the resulting series into a list of genres

Collect Unique List of Genres

Let's turn our genres column into a space separated list of genres (as if they were words in a document)

In [1]:
all_genres = []

In [5]:
movies_with_document_description_df = movies_df.copy

In [6]:
from sklearn.feature_extraction.text import TfidfVectorizer
tf = TfidfVectorizer(vocabulary=all_genres)
tfidf_matrix = tf.fit_transform(movies_with_document_description_df['genres'])

KeyError: 'genres'

In [ ]:
pd.DataFrame(tfidf_matrix.toarray())

Now let's calculate the dot product of the tfidf_martix with itself in order to get a cosine similarity matrix.

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

cosine_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)

 What do we expect the dimensions of this matrix to be?

In [ ]:
cosine_sim

Notice that this matrix also has 1's along the diagonals. Why is that?

In [ ]:
cosine_sim.shape

The next part you can Test Drive because now we'll add logic to grab the top 30 movie titles by index

We can build this in a separate module and import it here to see some results

In [ ]:
from analysis.utils.recommendation import get_similar_movies

similar_movies = get_similar_movies('Toy Story (1995)', cosine_sim, movies_with_document_description_df, 30)
similar_movies

THAT'S IT! :)